canvas{
    border: 1px solid black;
}
#input_img{
    display: none;
}
.maskOptions{
    background: transparent;
    border: lightgray solid 2px;
    outline:none !important;
    padding: 2px;
}
.maskOptions>img {
    width: 128px;
    height: 128px;
}
.chosen{
    border: black solid 2px;
}

.active{
    background: firebrick;
}