@font-face {
    font-family: qing_ke_butter;/*庆科黄油体（免费商用）*/
    src: url("../font/qing_ke_butter.woff"),
         url("../font/qing_ke_butter.woff2"),
         url("../font/qing_ke_butter.ttf");
}



body{
    background: #b1d6f3;
}


#input_img{
    display: none;
}



.active{
    background: firebrick;
}
.container{
    display: block;
    height: 100vh;
    max-width: 67vh;
    margin: 0 auto;
    background-image:url('../image/background.jpg');
    background-size: cover;
}

.title{
    font-family: qing_ke_butter, sans-serif;
    font-size: 3.5vh;
    padding: 8vh 0 0 0;
    margin: 0vh auto 3vh auto;
    max-width: 45.5vh;
    letter-spacing: 1vh;
}


#mask_btns_div{
    margin: 5vh auto 3vh auto;
    width: 42vh;
}

.maskOptions{
    background: rgba(255,255,255,0.2);
    border: #3ba4ff solid 1px;
    outline:none !important;
    width: 11vh;
    height: 11vh;
    margin: 1.5vh;
    padding: 0;
}
.maskOptions>img {
    width: 10vh;
    height: 10vh;
}

.chosen{
    border: #3ba4ff solid 2px;
}


#cover_canvas{
    border: #41cdfa solid 1px;
    margin: 0 auto 0 auto;
    display: block;
}

#scaling_slider{
    width: 15vh;
    height: 3vh;
    margin: 1vh auto 1vh auto;
    display: block;
    /*-webkit-appearance: none;*/
    background: transparent;
    outline:none;

}

input[type=range]::-webkit-slider-thumb{
    background: #3ba4ff;
}

input[type=range]::-webkit-slider-runnable-track{
    border: none;
}


#edit_btns{
    margin: 5vh auto 5vh auto;
    width: 28vh;
}

#edit_btns>button{
    font-family: qing_ke_butter, sans-serif;
    font-size: 2.5vh;
    letter-spacing: 0.6vh;
    width: 14vh;
    height: 5vh;
    padding: 0 1px 0 1px;
    margin: 0;
    background: transparent;
    border-style: solid;
    border-color: #41cdfa;
    color:#41cdfa;
    outline:none;
}

.edit_btn_0{
    border-width: 0 1px 1px 0;
}
.edit_btn_1{
    border-width: 0 0 1px 1px;
}
.edit_btn_2{
    border-width: 1px 1px 0 0;
}
.edit_btn_3{
    border-width: 1px 0 0 1px;
}

#footer{
    color: #1c5b88;
    text-decoration: none;
    margin: 6.5vh auto 2vh auto;
    width: 31vh;
    display: block;
    font-size: 1.5vh;
    letter-spacing: 0.2vh;
}

#swift_logo{
    width: 3vh;
    height: 3vh;

}